<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div style="">
		<form method="POST" style="display: flex; flex-direction: column; width: 40%;">
			<input type="text" name="username">
			<input type="password" name="pass">
			<input type="submit">
			<% if(error){ %>
				<small style="color: red;justify-content: center;display: flex">el usuario o la contraseña son incorrectos</small>
			<% } %>
		</form>
	</div>
</body>
</html>