<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
    <form action="" method="post">
        <input type="text" placeholder="nombre de usuario" name="username">
        <input type="text" placeholder="contraseña" name="pass">
        <div>
            <small>
                <label for="agent">agente</label>
                <input checked disabled id="agent" type="checkbox" name="agente">
            </small>
            <small>
                <label for="lider">lider</label>
                <input id="lider" type="checkbox" name="lider">
            </small>
            <small>
                <label for="admin">admin</label>
                <input id="admin" type="checkbox" name="admin">
            </small>
        </div>
        <button type="submit">crear</button>
    </form>
</body>
</html>