<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
    <h3>Miembros del equipo de campaña</h3>
    <table>
    <tr>
        <th>id</th>
        <th>ussername</th>
    </tr>
    <% equipo.forEach(usuario => { %>
        <tr>
            <td><%= usuario.idusuario %></td>
            <td><%= usuario.username %></td>
        </tr>
    <% }); %>
    </table>
</body>
</html>